<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Principal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">Control_H</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">Opciones</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" onclick="verlista('equiposactivos')">Lista de equipos activos</a>
                <a class="mdl-navigation__link" href="#">Lista completa</a>
                <a class="mdl-navigation__link" href="#">Lista de areas</a>
                <a class="mdl-navigation__link" href="#">Configuraciones</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div id="rueda" style="display: grid; grid-template-columns: auto; justify-content: center; height: 200px; align-content: center;">
                <div>
                    <div class="mdl-spinner mdl-js-spinner is-active"></div>                                    
                </div>
            </div>
            <div id="contenido"></div>
        </main>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        inicio();
        function inicio(){
            $("#contenido").load("500.html");
            $("#rueda").hide();
        };
        function verlista(lista){
            $("#rueda").show();
            $("#contenido").hide();
            $("#contenido").load("404.html");
            $("#contenido").show();
            $("#rueda").hide();
        };
    </script>
</body>
</html>